
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide-shm
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide-wal
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide-shm
MonitoringTeamApi/.vs/MonitoringTeamApi/v16/Server/sqlite3/storage.ide
